<div class="jumbotron">
  <h1 class="display-4 text-center">Greetings!</h1>
  <p class="lead text-center">Welcome to the Bulletin Board!</p>
  <hr class="my-4">
  <div class="col">
      <p class="text-center">Please click here to start!</p>
        <div class="d-flex justify-content-center ">
            <form method="GET" action="/users/signup" id="signup" name="signup">
                <div>
                    <button type="submit" class="btn btn-lg btn-success">Go!</button>
                </div>
            </form>
        </div>
        <p class="text-center">Already have an account? Login here:</p>
        <div class="d-flex justify-content-center ">
            <form method="GET" action="/users/login" id="login" name="login">
                <div>
                    <button type="submit" class="btn btn-sm btn-success">Login!</button>
                </div>
            </form>
        </div>
  </div>
</div>
